* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Work Sans font */
body {
  font-family: "Work Sans", sans-serif;
}

/* Common property */
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.justify-center {
  justify-content: center;
}
.align-items {
  align-items: center;
}

/* Borders */
.r-b {
  border: 1px solid red;
}
.b-b {
  border: 1px solid black;
}
