* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Work Sans font */
body {
  font-family: "Work Sans", sans-serif;
}

/* Common property */
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.justify-center {
  justify-content: center;
}
.align-items {
  align-items: center;
}

/* Borders */
.r-b {
  border: 1px solid red;
}
.b-b {
  border: 1px solid black;
}

/* Nav */
nav {
  margin-top: 20px;
}
nav h1 {
  font-size: 2.8rem;
  font-weight: 700;
}
.nav-items li {
  list-style-type: none;
  margin-left: 30px;
}
.nav-item a {
  text-decoration: none;
  color: rgb(66, 66, 66);
}

/* Media queries */
/* Mobile device */
@media screen and (max-width: 675px) {
  nav {
    flex-direction: column;
  }
  nav h1 {
    font-size: 2rem;
    text-align: center;
  }
  .nav-items {
    margin-top: 10px;
    flex-direction: column;
  }
  .nav-item {
    text-align: center;
    margin-bottom: 5px;
  }
}
